#author, #email { 
  font-family: "Open Sans", "Droid Sans", Arial;
  font-style:italic;
  color:#1d1d1d; 
  letter-spacing:.1em;
  } 
  #url  { 
  color: #1d1d1d;
  font-family: "Luicida Console", "Courier New", "Courier", monospace; 
  }
  #submit {
      background:-moz-linear-gradient(top, #5ab88c 5%, #5ab88c 100%);
      background:-webkit-linear-gradient(top, #5ab88c 5%, #5ab88c 100%);
      background:-o-linear-gradient(top, #5ab88c 5%, #5ab88c 100%);
      background:-ms-linear-gradient(top, #5ab88c 5%, #5ab88c 100%);
      background:linear-gradient(to bottom, #5ab88c 5%, #5ab88c 100%);
      background-color:#1E6F5C;
      -moz-border-radius:28px;
      -webkit-border-radius:28px;
      border-radius:28px;
      border:1px solid #1E6F5C;
      display:inline-block;
      cursor:pointer;
      color:#ffffff;
      font-family:Arial;
      font-size:17px;
      padding:16px 31px;
      text-decoration:none;
      text-shadow:0px 1px 0px #2f6627;
      } 
      #submit:hover {
      background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5ab88c), color-stop(1, #5ab88c));
      background:-moz-linear-gradient(top, #5ab88c 5%, #5ab88c 100%);
      background:-webkit-linear-gradient(top, #5ab88c 5%, #5ab88c 100%);
      background:-o-linear-gradient(top, #5ab88c 5%, #5ab88c 100%);
      background:-ms-linear-gradient(top, #5ab88c 5%, #5ab88c 100%);
      background:linear-gradient(to bottom, #5ab88c 5%, #5ab88c 100%);
      background-color:#1E6F5C; 
      }
      #submit:active { 
      position:relative;
      top:1px;
      }


      .comments-title{
          display: none;
        }
        .comment-list{
            display: none;
        }
        .comment-respond{
            display: inline-block;
            margin-left: 20px;
            margin-right: 10px;
        }
        .comments-area{
          display: none;
        }

        .postcomments{
          width: 40vw;
          margin-left: 6vh;
          margin-top: 25px;
          margin-bottom: 20px;
         
        }
      
     .komentocat{
      display: flex;
      flex-direction: row;
      border:1px solid rgb(199, 198, 198);
      border-radius:5px;
      width: 25vw;
      margin-left: 20px;
      padding-bottom: 8px;
     }
 
 
        
     .komento{
       display: flex;
       flex-direction: row;
       border:1px solid rgb(199, 198, 198);
       border-radius:5px;
       width: 35vw;
       margin-left: 20px;
       margin-bottom: 20px;
     }
  .post-comments{
    width: 25vw;
    margin-left: -30px;
  }
     .comment-form{
      display: flex;
      flex-direction: row;
      margin-left: -0px;
      padding: 0px;
     }
    .comment-avatar{
      display: flex;
      flex-direction: row;
     
    }
 
    #textareacomment{
      width: 12vw;
      padding: 10px;
      margin-left: 10px;
      resize: none;
    }
    .avatar-32 {
      height: 60px;
      width: 60px;
      border-radius: 50px;

    }
  
    .post-comment-new{
      margin-left: 5px;
     

    }
    #inputComment{

      width: 20vw;
    }
    #submit{
    
      text-align: center;
      padding: 10px;
      margin-left: 10px;
      font-size: 15px;
      margin-top: 10px;
      background-color:#1E6F5C;
    }
    .submit{
      background-color:#1E6F5C;
    }
    .social a{
      text-decoration: none;
   
      opacity: 1;
    }

    .userkomentet{
      display: flex;
      flex-direction: row;
      width: 35vw;
      margin-left: 20px;
      border-radius: 10px;
      background-color:  #F2F3F5;
      padding: 5px;
      padding-left: 10px;
      padding-top: 5px;
      padding-bottom: 5px;

    }
    .userkomentet h5{
      margin-left: 10px;
    }
    .userkomentet #koment{
     margin-left: 10px;
    
     
    }
     .kontenti{
      display: flex;
      flex-direction: column;

    }
    
   .random{
     border-radius: 5px;
     border: 2px solid green;
    
   }
 .commentAuthor{
   width:50px;
   height: 50px;
   border-radius: 50px;
 
 }
 .right-side2 {
  width: 300px;
  height: fit-content;
  float: right;
  bottom: 8px;
  right: 16px;
  background-color: white;
  border-radius: 8px;

}
.left-side1 {
  margin-left: 20px;
  width: 350px;
}