
.dropdown1 {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }
  
  .drop22 {
    display: none;
    //  display: grid; 
    grid-row-gap: 10px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 2;
  }
  
  .dropdown1:hover .drop22{
    display: block;
    display: grid;
  }
  .drop22 > a{
      text-align:left;
  }
  .drop22 > a > .fas{
     
    padding-right: 10px;
  }
  .span-hover1{
      padding:20px;
      font-size:18px;
  }