.backbtn1 {
  color: white;
  background-color: #74b39c;
}
.backbtn1:hover{
color:black !important;
}
.foterlist{
list-style-type: none;



}
.foterlist li a {
  color: black;
  padding: 10px;
 
  
}

.footer-sidebar {
height: 140px;
display: flex;
display: block;
justify-content: space-evenly;
}
.butonlogo{
padding: 10px;
margin: 10px;
}
.foterlogo{
margin: 15px;
padding: 10px;
}
.im15 {
width: 40px;
height: 30px;
}
