/* Navigation
--------------------------------------------- */
@import url("https://gmpg.org/xfn/11");
.nav1 a{
    font-weight:600;
    color: #6e7c90;
}
.mt-nav{
  margin-top: 3rem !important;
}
.active2{
    box-shadow: 0 4px 2px -2px #74b39c;
  }

  .underline:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #74b39c;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .underline:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
 .popup{
      margin-top:13px;
      
      border-collapse: separate;
      border-spacing: 30px 10px;
      background-color: #f8f8f8;
      border:1px solid #e7e7e7;
      padding-right: 40px;
      box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
 }
 .popup a{
  text-decoration: none;
  font-weight:450;
  color: #6e7c90;
}
.popup a:hover{
  color: black;
  text-decoration: none !important;
}

.popup2{
  border-collapse: separate;
  margin-top: 3%;
  margin-bottom: 0;
  border-spacing: 5px 0px;
  background-color: transparent;
  
}
.popup2 a{
text-decoration: none;
font-weight:450;
color: #6e7c90;
}
.popup2 a:hover{
color: black;
}

@media(max-width:950px) {
  .logo1 {
      float:none;
      display: none !important;
  }
  .info{
	opacity : 0 !important;
  }
  .left-side1{
    visibility: hidden !important;
  }
  .page1{
    margin: 40px 30px 0 0 !important;
    grid-template-columns: 0% repeat(auto-fill, 70%) 30% !important;}
    .wp-block-search__button{
      padding: 1px 5px 1px 5px !important;
    }
    .mobileL{
      margin: 10% 3% 0 unset !important;
      width: auto !important;
    }
    .mobileL2{
     padding: 0px !important;
    }
    .form1 input{
      width: 55vw !important;
      height:auto !important;
    }
    .form1 button{
      width:auto !important;
      height:auto !important;
    }
    .csPostion{
      position:sticky !important;
    }
}
@media(max-width:560px) {
  .text-img {
  padding: 222px 30px 0px 80px !important;
  }
  .text-img img{
   width:100% !important;
    }
  .csPostion{
    position:sticky !important;
  }
  .logo1 {
      float:none;
      display: none !important;
  }
  .info{
	opacity : 0 !important;
  }
  .left-side1{
    visibility: hidden !important;
  }
  .right-side-main{
    visibility: hidden !important;
  }
  .page1{
    margin: 0 !important;
    grid-template-columns: 0% repeat(auto-fill, 55%) 0% !important;
    grid-gap: 0 !important;
  }
  .content1 {
    padding: 0px !important;
    width: 182% !important;
    margin-top: 10% !important;
  }
  .mobileA{
    padding: 0px !important;
  }
  .panel-content {
    padding: 0px !important;
  }
  .author-p{
    padding: 1px !important;
  }
  .author-photo2{
    margin-left: 0px !important;
  }
  .author-profile-card2{
    padding: 30px 0 0 0 !important;
  }
  .postf{
    font-size: 14px !important;
  }
  .textU{
    position: absolute;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 47%;
    padding-right: 3%;
  }

  .mobileL{
    margin: 20% 3% 0 3% !important;
    width: auto !important;
  }
  .mobileL2{
   padding: 00px !important;
  }
  .form1 input{
    width:auto !important;
    height:auto !important;
  }
  .form1 button{
    width:auto !important;
    height:auto !important;
  }
  .postoForm option, select {
    width: auto !important;
    height: auto !important;
    padding: 4% !important;
  }
  .postoForm input {
    width: 50vw !important;
    height: auto !important;}

  .postoForm textarea {
      width: 70vw !important;
      height: 12vh !important;}
  .submit-posto {
      padding: 5px !important;}
  .header-image h1 {
    font-size: 36px !important;
    letter-spacing: 0 !important;
  }
  .header-image span {
    font-size: 15px !important;
    padding-left: 5%;
  }
  .header-image {
    height: 50vh !important;
  }
  .rrethnesh-text {
    margin: 20vh 5vw !important;
  }
  .rrethnesh-text h1{
    font-size: 36px !important;
  }
  .title h1{
    font-size: 36px !important;
  }
  .team-members { display: grid !important;}
  .flip-card2 {
    margin-bottom: 0 !important;
  }
  .femra-header {
    height:auto !important;
    padding: 30px 0 60px !important;
    margin-bottom: 10vh !important;
  }
  .femra-header h1{
    font-size: 36px !important;
  }
  .MforMobile{
    display: block !important;
  }
  .form1 {
    padding-top: 0 !important;
  }
}
.MforMobile{
  display: none;
}
.costumModalHeader{
    padding: 8px 8px 0 0 !important;
    border-bottom: 0px solid #e5e5e5 !important;
}
.modal-header .close {
  font-size: xx-large;
}
.info{
  display: none;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
  z-index: 999 !important;
  position: absolute;
  text-decoration: none;
  
}
.form-control, .wp-block-search__input{
  border: 1px solid grey;
    border-radius: 5px;
    height:auto !important;
    width: 100%;
    padding: 5px 20px 5px 20px !important;
    outline: 0;
    background-color: #f5f5f5;
}

.form-control:hover, .form-control:focus ,.wp-block-search__input:hover, .wp-block-search__input:focus{
  border: 1.5px solid #009688;
  background-color: white;
}

.search-submit, .wp-block-search__button  {
  color: white;
  background-color: #1E6F5C;
  border: 1px solid grey;
    border-radius: 5px;
    padding: 5px 20px 5px 20px;
    outline: 0;
}
.search-submit:hover, .wp-block-search__button:hover  {
  background-color: #8ac0ac;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.right-side1 #wp-block-search__input-1 {
  padding: 3px !important;
}
.right-side1 .wp-block-search__button {
  padding: 3px 10px 3px 10px;
}
.card-title a{
  text-decoration: none;
  font-weight:500;
  color: #000000;
}
.card-title a:hover{
  text-decoration: none;
  font-weight:500;
  color: #6e7c90;
}

.card{
  border: 0px solid rgba(0,0,0,.125);
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.form-inline input{
  display: inline;
  white-space:nowrap;
  flex-flow: row wrap;
  }
  
.profile-img .fa-plus-circle { 
    position: absolute;
    z-index: 999;
    height: 230px;
    width: 230px;
    left: 50px;
    color:#2F5D62 !important;
    text-align: right;
    padding:6px;
     }

     .navbar-default{
       background-color: white;
     }
     @media(max-width:1100px) {
      .profile-img .fa-plus-circle{
        display: none;
      }
    }
    .modal-footer {
      flex-wrap: nowrap;
    }
    .navbar-toggle .icon-bar {
      border: 1px solid #77b49e;
    }