.header-image{
    //background-image: url(https://images.pexels.com/photos/5874666/pexels-photo-5874666.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 90vh;
    margin: 0;
    padding: 0;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 4px 4px 70px 20px rgba(71, 71, 71, 0.63);
}
.header-image h1{
  text-align: center;
  text-transform: uppercase;
  font-size: 65px;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 0.8;
  padding-top: 50px;
  font-weight: bold;
  border-bottom: solid 3px #FFD365;
  padding-bottom: 3vh;
  color: white;
}
.header-image span{
    text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 25px;
  line-height: 1;
  font-weight: bold;
  color: white;
}
.rrethnesh-text{
  text-align: center;
  margin: 20vh 20vw;
}
.rrethnesh-text h1{
  font-size: 50px;
  margin-bottom: 5vh;
}
.rrethnesh-text p{
  font-size: 20px;
  text-align: justify;
}
.team-leaders{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.team-leaders img{
  width: 30vw;
  height: 40vh;
  border-radius: 100%;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
}
.title h1{
  font-size: 50px;
}
.team-members{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.team-members img{
  width: 15vw;
  height: 25vh;
  border-radius: 100%;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
}
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  margin-bottom: 10vh;
  margin-top: 5vh;
  
}
.flip-card2 {
  background-color: transparent;
  width: 15vw;
  height: 30vh;
  margin-bottom: 10vh;
  margin-top: 5vh;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;

}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}
.flip-card2:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

}

.flip-card-front {
  color: black;

}

.flip-card-back {
  background-color: rgba(24, 226, 24, 0.568) ;
  color: white;
  transform: rotateY(180deg);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
}