@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
  font-family: 'Poppins', sans-serif;
}
#register-button{
  margin-right: 5px;
  background-color:#5ab88c;
  color: white;
  border: 0;
  margin-top: 5px;
}
#register-button:hover{
  background-color: #69dda7;
  color: white;
}
#login-button{
  margin-right: 5px;
  background-color:#f8f9fa;
  color: black;
  border: 0;
  margin-top: 5px;
}
#login-button:hover{
  background-color: white;
  color: black;
}
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}


/*Register Form*/

.form1 {
  display: flex;
  justify-content: center;
  padding: 20px;
}
.title{
text-align: center;
font-size: 30px;
}

 
.form1 input {
  display: flex;
  outline: 0;
  background: #f2f2f2;
  width: 20vw;
  height: 7vh;
  border: 0;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  font-size: 14px;
  }
  .form1 button {
    text-transform: uppercase;
    outline: 0;
    background: #1E6F5C ;
    width: 20vw;
    height: 7vh;
    border: 0;
    border-radius: 5px;
    padding: 8px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .form1 button:hover{
    text-decoration: none;
    color: white;
    background: #184D47 ;

  }



