@charset "UTF-8";

.body-wrapper {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto 100%;
}

article {
  position: relative;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  box-shadow: 0px 1px 2px 1px #ccc;
}

.one {
  grid-column: 1/2;
  grid-row: 2/3;
  padding: 20px;
}

.user-profile-container {
  position: relative;
  width: 100%;
  border: 1px solid #ccc;
  box-shadow: 0px 1px 2px 1px #ccc;
}
.user-profile-container .top-div {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  display: flex;
  background: linear-gradient(to right, #00618c, #283E4A);
}
.user-profile-container #user-profile-picture {
  position: relative;
  height: 55px;
  width: 55px;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #ccc;
  margin-top: 40px;
}
.user-profile-container .content-div {
  position: relative;
  padding-top: 25px;
}
.user-profile-container .content-div .name-and-information {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.user-profile-container .content-div .name-and-information h1 {
  margin: 0;
  padding: 0;
  font-size: 18px;
}
.user-profile-container .content-div .name-and-information h2 {
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: #555;
}
.user-profile-container .content-div .profile-stats {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0px 10px 0px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto auto;
  justify-items: center;
  grid-row-gap: 30px;
}
.user-profile-container .content-div .profile-stats .info-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 12px;
}
.user-profile-container .content-div .profile-stats .info-container i {
  margin-bottom: 1px;
}

.two {
  display: flex;
  justify-content: center;
  flex-direction: column;
  grid-column: 2/4;
  grid-row: 2/3;
  padding: 20px;
}
.two .moodle-container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  background: white;
  border-radius: 2px;
}
.two .moodle-container .share-container {
  position: relative;
  top: 0px;
  left: 0px;
  padding: 0px 20px;
}
.two .moodle-container .share-container:after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0px;
  left: 0%;
  background: #ccc;
  width: 100%;
  height: 1px;
}
.two .moodle-container input {
  border: none;
  width: 100%;
  padding: 30px 0px;
  font-size: 19px;
  color: #555;
}
.two .moodle-container input:focus {
  outline: none;
}
.two .moodle-container input::-webkit-input-placeholder {
  font-size: 19px;
}
.two .moodle-container .action-container {
  position: relative;
  bottom: 0px;
  left: 0px;
  padding: 12px 20px;
}

button {
  color: #666;
  cursor: pointer;
  padding: 8px 18px;
  transition: 0.4s;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.5px;
}
button:focus {
  outline: none;
}

.media-button {
  position: relative;
  cursor: pointer;
  border: 1px solid #666;
  background: transparent;
  border-radius: 40px;
}
.media-button:hover {
  border: 1px solid #0084BF;
  color: #0084BF;
}
.media-button:active {
  transform: scale(0.8);
}

.post-button {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  color: white;
  background-color:#1E6F5C;
 border-radius: 3px;
}
.post-button:hover {
  background: #00618c;
}
.post-button:active {
  transform: scale(0.8) translateY(-50%);
}

.post-container {
  position: relative;
  width: 100%;
  background: white;
  padding: 10px;
}
.post-container .post-top-bar {
  position: relative;
  display: flex;
  justify-content: space-between;
  top: 0px;
  left: 0px;
  padding: 10px;
}
.post-container .post-top-bar:after {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background: #ccc;
}
.post-container .toggle {
  position: absolute;
  right: 0px;
  display: none;
}
.post-container #toggle-info {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  height: 20px;
  width: 20px;
  border: 1px solid black;
  border-radius: 100%;
  transition: 0.4s;
}
.post-container #toggle-info:before {
  content: "i";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.4s;
}
.post-container .toggle-options {
  display: none;
  position: absolute;
  width: 250px;
  border: 1px solid #ccc;
  background: white;
  right: -5px;
  top: 90%;
  z-index: 10;
  box-shadow: 0px 1px 2px 1px #ccc;
}
.post-container .toggle-options h3 {
  position: relative;
  padding: 15px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}
.post-container .toggle-options h3:hover {
  background: #f7f7f7;
}
.post-container .toggle-options h3:last-child {
  border-bottom: none;
}
.post-container .toggle-options h3:after {
  position: relative;
  display: block;
  color: #777;
  font-size: 14px;
  margin-top: 2px;
}
.post-container .toggle-options h3:nth-child(2):after {
  content: "Remove this post from my feed";
}
.post-container .toggle-options h3:nth-child(3):after {
  content: "Stop seeing Charlie's posts";
}
.post-container #toggleFor:checked ~ .toggle-options {
  display: block;
}
.post-container #toggleFor:checked ~ label {
  border: 1px solid #0084BF;
}
.post-container #toggleFor:checked ~ label:before {
  color: #0084BF;
}
.post-container .name {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 15px;
}

.profile-title {
  position: relative;
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.profile-title img {
  position: relative;
  border-radius: 100%;
  height: 55px;
  width: 55px;
}
.profile-title .user-information-container {
  position: relative;
  margin-left: 10px;
  line-height: 1.2;
}
.profile-title .user-information-container h3 {
  font-weight: 700;
}
.profile-title .user-information-container p {
  color: #bfbfbf;
  font-size: 14px;
}

.user-text {
  position: relative;
  padding: 0px 10px 15px 10px;
  border-bottom: 1px solid #ccc;
}
.user-text p.custom-text {
  position: relative;
  line-height: 1.7;
  font-size: 16px;
  margin-bottom: 10px;
}

.bottom-bar-container {
  position: relative;
}

.bottom-bar-social {
  padding: 10px;
  position: relative;
}
.bottom-bar-social .social {
  position: relative;
  background: transparent;
  cursor: pointer;
  padding: 10px;
  border: none;
  transition: 0.4s;
  margin-right: 10px;
}
.bottom-bar-social .social:hover {
  background: rgba(0, 132, 191, 0.2);
}
.bottom-bar-social .social:last-child {
  margin-right: 0px;
}
#liked-after:after {
  content: "1 Like";
  position: absolute;
  top: -70%;
  left: 0;
  color: #ccc;
  font-size: 13px;
  opacity: 0;
}

#like:checked ~ #liked-after:after {
  opacity: 1;
}

#comment:checked ~ .comment-box {
  display: flex;
}
#komento, #pelqeje{
  display: none;
}

#like:checked ~ #liked-after {
  animation: grow 1.5s ease forwards;
}
.teksti{
  margin-left: 10px;
}
@keyframes grow {
  50% {
    transform: scale(0.7);
  }
  100% {
    transform: scale(1);
  }
}

#share:checked ~ .icon:nth-child(7) {
  transition: 0.4s;
  transition-delay: 0s;
  opacity: 1;
  transform: translateY(0px);
}

#share:checked ~ .icon:nth-child(8) {
  transition: 0.4s;
  transition-delay: 0.125s;
  opacity: 1;
  transform: translateY(0px);
}

#share:checked ~ .icon:nth-child(9) {
  transition: 0.4s;
  transition-delay: 0.25s;
  opacity: 1;
  transform: translateY(0px);
}

#share:checked ~ .icon:nth-child(10) {
  transition: 0.4s;
  transition-delay: 0.375s;
  opacity: 1;
  transform: translateY(0px);
}

.comment-box {
  position: relative;
  display: none;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 10px;
}
.comment-box img {
  position: relative;
  border-radius: 100%;
  height: 35px;
  width: 35px;
}
.comment-box input {
  width: 90%;
  margin-left: 10px;
  text-indent: 5px;
}
.comment-box input:focus {
  outline: none;
}

.fa {
  color: #0084BF;
  cursor: pointer;
  margin-right: 7px;
  font-size: 20px;
  opacity: 0;
  transform: translateY(7px);
}

.three {
  grid-column: 4/5;
  grid-row: 2/3;
  padding: 20px;
}

.column {
  position: relative;
}

.new-paragraph:nth-child(4):after {
  content: "1hr";
}

.new-paragraph:nth-child(5):after {
  content: "2hr";
}

.new-paragraph:nth-child(6):after {
  content: "3hr";
}

.new-paragraph:nth-child(7):after {
  content: "4hr";
}

.new-paragraph:nth-child(8):after {
  content: "4hr";
}

.new-paragraph:nth-child(9):after {
  content: "5hr";
}

.new-paragraph:nth-child(10):after {
  content: "5hr";
}

.new-paragraph:nth-child(11):after {
  content: "6hr";
}

.news-container {
  padding: 20px;
  position: relative;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0px 1px 2px 1px #ccc;
}
.news-container h3 {
  position: relative;
  display: block;
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}
.news-container p {
  position: relative;
  list-style-type: none;
  margin-bottom: 5px;
  color: #555;
}
.news-container p:before {
  content: "• ";
  position: absolute;
  left: -12px;
  top: -10px;
  color: #0084BF;
  font-size: 30px;
}
.news-container p:after {
  position: absolute;
  right: 0px;
  bottom: 0px;
  color: #ccc;
  font-size: 12px;
}

#chevronLabel {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
#chevronLabel #arrow-two {
  position: absolute;
  top: 0px;
}
#chevronLabel #arrow {
  position: absolute;
}

.display-none, #arrow-two {
  display: none;
}

#chevron:checked ~ .display-none, #chevron:checked ~ label #arrow-two {
  display: block;
}

#chevron:checked ~ label #arrow {
  display: none;
}

#chevron {
  display: none;
}


.share-container{
  display:flex;
  flex-direction: row !important;

}
.post-container-profile{
  width: 70vw;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 2rem;


}
.postimg{
  width: 20vw;
  height: 30vh;
}
.userpost{
  width: 20vw;
margin-left: 15px;
height: 60vh;

}
.social a{
  text-decoration: none;
  color:#555
  
  
}
.social a:hover{
  text-decoration: none;
}

@media screen and (max-width: 950px) {
  .column.one, .column.three {
    display: none;
  }

  .column.two {
    grid-column: 1/5;
  }
}
@media screen and (max-width: 615px) {
  .menu-container {
    display: none !important;
  }
}


