body { margin-top: 50px; }

.carousel { background: #000; }
.carousel .item { height: 350px; overflow: hidden; }
.carousel .item img { width: 100%; height: auto; margin-top: -35%; }
.carousel-caption a { color: #fff; }

.blog-element { display: block; height: 200px; overflow: hidden; background-position: center center; background-repeat: no-repeat; background-size: cover; }
.blog-element a { color: #fff; text-shadow: 0 1px 3px rgba(0,0,0,.5) }

/*
.second-row-padding:nth-child(2) { padding-right: 0; }
.second-row-padding:nth-child(3) { padding-left: 0; }

.third-row-padding { padding: 0; }
.third-row-padding:nth-child(4) { padding-left: 15px; }
.third-row-padding:last-child { padding-right: 15px; }
*/
.no-margin { margin: 0; }
.blog-item { padding: 0; }


.site-main2{
	margin-left:10%;
	margin-right:10%;
}
.site-main3{
	margin-left:9%;
	margin-right:9%;
}
.cen{
	justify-content: center;
}
.col-md-4{
	margin-top:20px;
}

/* .custom-logo:hover{
-webkit-transform: scale(1.2);
transform: scale(1.1, 1.1);
opacity:90%;} */

.mr-3{
width:auto;
height:auto;
}
.col-md-4:hover{
	-webkit-transform: scale(1.2);
	transform: scale(0.9, 0.9);
	opacity:90%;
	cursor:pointer;
}

.pagination {
   display: flex;
  justify-content: center;
  align-items: center;
   font-size:16px; 
   line-height:13px; 
	list-style-type:none;
	width:100%; 
}
.pagination span, .pagination a {
   display:block;
   float:left;
   margin: 2px 2px 2px 0;
   padding:6px 9px 5px 9px;
   text-decoration:none;
   width:auto;
   color:#fff;
   background: #999; 
   border-radius:4px;
}
.pagination a{
	margin-right:5px;
	margin-left:5px;
}
.pagination a:hover{
   color:#fff;
   background: #74b39c;
   box-shadow: 0 3px 14px rgb(0 0 0 / 0.2);
   transform: scale(1.1, 1.1);
}
.pagination .current:hover{
   color:#fff;
   background: #000;
   transform: scale(1.1, 1.1);
}
.pagination .current{
   padding:6px 9px 5px 9px;
   background: #74b39c; 
   color:#fff;
   box-shadow: 0 3px 14px rgb(0 0 0 / 0.2);
   transform: scale(1.1, 1.1);
}
.archive-year{
	
	padding:5px;
}
.archive-year a{
	background-color:#44b29c;
	color:white;
	padding:0px 5px 0px 5px;
	margin-left:5px;
	border-radius:5px;
	font-size:15px;
	text-decoration:none;
	font-weight:600;
}
#arkivaImg{
	width :13%;
	height:13%;
	
}
.muaji {
	margin-left:15%;
	border-top:1px solid lightgray;
	border-bottom:1px solid lightgray;
	border-right:1px solid lightgray;
	border-left:1px solid lightgray;
	background-color:#f8f8f8;
}
.muaji a{
	padding:2%;
	text-decoration:none;
	color:black;
	
}
.muaji a:hover{
	text-decoration:none;
	color:#777;
	
}
.numri{
	padding:2%;
	margin:2%;
	color: #777;
    text-align: center;
	
}
.archive-year a:hover{
	background-color:white;
	color:#44b29c;
	text-decoration:none;
	box-shadow: 0 3px 14px rgb(0 0 0 / 0.2);
   transform: scale(1.1, 1.1);
}
.kategorit{
     width:60px;
     height: 70px;
	margin-left: 6px;
    margin-right: 4px;
    clear: left;
	margin-bottom: 5%;
    display: inline-block !important;
}
.cname{
	background-color:#44b29c;
	color:white;
	padding:0px 5px 0px 5px;
	margin-left:5px;
	border-radius:5px;
	font-size:15px;
	text-decoration:none !important;
	font-weight:600;
	
}
.cnumri{
	padding-left:5%;
     width: 70px;
}
.kategorit a{
	padding:6%;
	text-decoration:none;
	color:black;
	
}
.kategorit a{
	text-decoration:none !important;
}
.cname:hover{
	background-color:white;
	color:#44b29c;
	box-shadow: 0 3px 14px rgb(0 0 0 / 0.2);
   transform: scale(1.1, 1.1);
}
.ark{
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
text-transform: uppercase;}

 hr { 
  margin: 6px !important;
  border-top: 1px solid #918585 !important;
  height:0px !important;
}
.im1:hover{
	transform: scale(1.1, 1.1);
}

.author-profile-card2 {
	height:300px;
    padding: 25px;
    margin-bottom: 20px;
	background-color: #74b39c; /* For browsers that do not support gradients */
	background-image: linear-gradient(#91cdb7, white);
}
.author-p{
	padding:40px;
	padding-right:20%;
    font-size: 15px;
	text-align: justify;
}
.author-profile-card2 strong{
	font-size:18px;
}
.author-photo2 {
	margin-top:1%;
	margin-left:10%;
	margin-right:3%;
    float: left;
    text-align: center;
    padding: 5px;
}
.author-photo2 img {
  border-radius: 50%;
  border: 3px solid #91cdb7;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  z-index: 5;
  background: #fff;
}
.author-photo2 h1{
	font-weight:1000 !important;
}
.postA {
	max-width: 100%;
	padding:4%;
	background-color: #f8f8f8;
	border-radius:20px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.postA2 {
	max-width: 100%;
	margin-right:5%;
	background-color: #f8f8f8;
	border-radius:20px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.postf{
	margin-left:inherit;
	margin-right:inherit;
	margin-bottom: 2%;
	font-size:22px;
}
.postf a{
	color:#1674c5;
	font-weight: lighter;
}
.postf a:hover{
	color:#1674c5;
	
}
.postf small{
	float:right;
	padding-right:11%;
	font-weight:900;
	line-height:2;
}

.mobileU{
	display:none !important;
}
 @media only screen and (max-width: 768px) {
	.navP{
	padding-top:1%;
	}
	.mobileU{
	display:block !important;
	}
	.site-main2{
	margin-left:3%;
	margin-right:3%;
	}
	.site-main3{
		margin-left:2%;
		margin-right:2%;
	}
	.modaltopM{
		margin-top:10%;
	}
}
.mydropdownjQuery{
	padding: 10px 15px;
}
.mydropdownjQuery a
{
	font-weight: 700;
	color: #333333 !important;
    font-size: medium;
}
.mydropdownjQuery a small
{
	font-weight: 600;
    color: #777777 !important;
}
.mydropdownjQuery a:hover
{
	font-weight: 900;
    color: #777777 !important;
    text-decoration: none;
	background-color:#f8f8f8 !important;
}
.mydropdownjQuery a:focus
{
	font-weight: 900;
    color: #777777 !important;
    text-decoration: none;
	background-color:#f8f8f8 !important;
}
.mydropdownjQuery a:active
{
	font-weight: 900;
    color: #777777 !important;
    text-decoration: none;
	background-color:#f8f8f8 !important;
}

.borderComent
{ border-radius: 50%;
    height: 50px;
    width: 50px;
	margin-right: 5%;
	margin-left: 5%;
    border: 5px solid #fff;
    -webkit-box-shadow: 0px 5px 10px rgb(0 0 0 / 20%);
    box-shadow: 0px 5px 10px rgb(0 0 0 / 20%);
    z-index: 5;
    background: #fff;
}
.smallDrop{
	padding-top: 3%;
    float: right;
	}
.ofsetMar{
	padding: 1% 0 3% 0;
}
.maxWi{
	width:28vw;
}
.titleh4{
	padding-left:3%;
	font-weight:600;
}
@media (min-width: 768px) {
  .animate {
    animation-duration: 0.6s;
    -webkit-animation-duration: 0.6s;
    animation-fill-mode: both;
    -webkit-animation-fill-mode: both;
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0rem);
    opacity: 1;
  }

  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }

  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

.slideIn {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

.csPostion{
	top: 10px;
    right: 25px;
    position: absolute;
}
.navbar{
	    box-shadow: 0 8px 10px -7px #777;
}
html{overflow-x: hidden;}




---------------------------------------------------------------



/*--------------------------------------------------------------------- File Name: style.css ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- import Fonts ---------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Baloo+Chettan&display=swap');

/*****---------------------------------------- 1) font-family: 'Rajdhani', sans-serif;
 2) font-family: 'Poppins', sans-serif;
 ----------------------------------------*****/


* {
     box-sizing: border-box !important;
}

html {
     scroll-behavior: smooth;
}

body {
     color: #666666;
     font-size: 14px;
     font-family: 'Poppins', sans-serif;
     line-height: 1.80857;
     font-weight: normal;
}

.text-bg a {
     color: #1f1f1f;
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

.text-bg h1,
.text-bg h2,
.text-bg h3,
.text-bg h4,
.text-bg h5,
.text-bg h6 {
     letter-spacing: 0;
     font-weight: normal;
     position: relative;
     padding: 0 0 10px 0;
     font-weight: normal;
     line-height: normal;
     color: #111111;
     margin: 0
}

.text-bg h1 {
     color: #ffffff;
    line-height: 1.2;
    letter-spacing: 1px;
     font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	 font-size: 38px !important;
}

.text-bg h2 {
     font-size: 18px !important;
     font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.text-bg h3 {
     font-size: 18px;
     font-family: 'Baloo Chettan', cursive;
}

.text-bg h4 {
     font-size: 16px
}

.text-bg h5 {
     font-size: 14px
}

.text-bg h6 {
     font-size: 13px
}

*,
*::after,
*::before {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}



button:focus {
     outline: none;
}



p {
     margin: 0px;
     font-weight: 300;
     font-size: 15px;
     line-height: 24px;
}

a {
     color: #222222;
     text-decoration: none;
     outline: none !important;
}

a,
.btn {
     text-decoration: none !important;
     outline: none !important;
     -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
     -ms-transition: all .3s ease-in-out;
     -o-transition: all .3s ease-in-out;
     transition: all .3s ease-in-out;
}

img {
     max-width: 100%;
     height: auto;
}

 :focus {
     outline: 0;
}

.btn-custom {
     margin-top: 20px;
     background-color: transparent !important;
     border: 2px solid #ddd;
     padding: 12px 40px;
     font-size: 16px;
}

.lead {
     font-size: 18px;
     line-height: 30px;
     color: #767676;
     margin: 0;
     padding: 0;
}

.form-control:focus {
     border-color: #ffffff !important;
     box-shadow: 0 0 0 .2rem rgba(255, 255, 255, .25);
}

.navbar-form input {
     border: none !important;
}

.badge {
     font-weight: 500;
}

blockquote {
     margin: 20px 0 20px;
     padding: 30px;
}

button {
     border: 0;
     margin: 0;
     padding: 0;
     cursor: pointer;
}

.full {
     float: left;
     width: 100%;
}

.layout_padding {
     padding-top: 90px;
     padding-bottom: 90px;
}

.layout_padding_2 {
     padding-top: 75px;
     padding-bottom: 75px;
}

.light_silver {
     background: #f9f9f9;
}

.theme_bg {
     background: #38c8a8;
}

.margin_top_30 {
     margin-top: 30px !important;
}

.full {
     width: 100%;
     float: left;
     margin: 0;
     padding: 0;
}


/**-- heading section --**/


/*--------------------------------------------------------------------- top banner area ---------------------------------------------------------------------*/


/*--------------------------------------------------------------------- layout new css ---------------------------------------------------------------------*/

.head_top {
     background-repeat: no-repeat;
}

.header {
     width: 100%;
     background: transparent;
     padding: 30px 30px;
     position: absolute;
     z-index: 999;
}

.logo a {
     font-size: 40px;
     font-weight: bold;
     text-transform: uppercase;
     color: #fff;
     line-height: 40px;
}

.text-bg {
     text-align: left;
     max-width: 429px;
     width: 100%;
     float: right;
     padding-top: 90px;
     padding-bottom: 50px;
}

.text-bg h1 {
     color: #2d2c2c;
     font-size: 67px;
     font-weight: bold;
}

.text-bg strong {
     font-size: 20px;
     line-height: 35px;
     color: #2d2c2c;
}

.text-bg span {
     font-family: 'Baloo Chettan', cursive;
     color: #2bcc91;
     font-size: 28px;
     font-weight: bold;
     display: block;
	 padding: 35px 0px 10px 0px;
}

.text-bg a {
     font-size: 17px;
     background-color: #2d2c2c;
     color: #fff;
     padding: 13px 0px;
     width: 100%;
     max-width: 190px;
     text-align: center;
     display: inline-block;
     transition: ease-in all 0.5s;
     border-radius: 15px;
}

.text-bg a:hover {
     background-color: #2bcc91;
     color: #fff;
     transition: ease-in all 0.5s;
     border-radius: 26px;
}

.text-img {
     height: 750px;
     background: linear-gradient(to bottom, #0aec98 0%, #2bcc91 100%);
    border-radius: 530px 0px 570px 20px;
    padding: 125px 30px 0px 80px;
}

.text-img img {
     width: 70%;
	 float:right;
}

.text-img figure {position: relative;}
.text-img h3 {
	color:#2bcc91;
    top: 330px;
    position: absolute;
    align-items: center;
    left: -1px;
    background: #2d2c2c;
    width: 60px;
    height: -1px;
    border-radius: 72px;
    color: #fff;
	padding: 7px 12px;
	font-size: 21px;
    border: #2bcc91 solid 7px;}

.padding_right1 {
     padding-right: 0;
}

.titlepage {
     text-align: center;
     padding-bottom: 60px;
}

.titlepage h2 {
     font-size: 50px;
     color: #3e3e3e;
     line-height: 50px;
     font-weight: bold;
     padding: 0;
}

.d_flex {
     display: flex;
     align-items: center;
     flex-wrap: wrap;
}

.text-bg2{
     font-size: 17px;
     background-color: #2d2c2c;
     color: #fff;
     padding: 13px 0px;
     width: 100%;
     max-width: 190px;
     text-align: center;
     display: inline-block;
     transition: ease-in all 0.5s;
     border-radius: 15px;
}

.text-bg2:hover {
     background-color: #2bcc91;
     color: #fff;
     transition: ease-in all 0.5s;
     border-radius: 26px;
}
/** about section **/

.about {
     margin-top: 90px;
     background: #23262d;
     padding: 60px 0;
}

.about .titlepage h2 {
     margin-bottom: 20px;
     color: #fff;
}

.about .titlepage span {
     color: #fff;
     font-size: 17px;
	 text-align: justify;
}

.about .about_box {
     text-align: center;
}

.about .about_box figure {
     margin: 0;
}

.about .about_box figure img {
     width: 100%;
}

.about .about_box .read_more {
     background: #000;
     color: #fff;
     border-radius: 15px;
}

.about .about_box .read_more:hover {
     background: #f55171;
}


/** end about section **/


/** two_box section section **/

.two_box {
     background: #2bcc91;
     margin-top: 90px;
	 margin-bottom: 90px;
     padding: 0 40px;
}

.two_box figure {
     margin: 0;
}

.two_box figure img {
     width: 100%;
}

.two_box h2 {
     color: #fff;
     font-size: 60px;
     line-height: 65px;
     padding-bottom: 25px;
}

.two_box p {
     font-size: 17px;
     line-height: 28px;
     color: #fff;
}

.offer {
     font-size: 100px;
}


/** end two_box section **/

.top-gifter{
	padding: 70px 20px !important;
    margin: -5%;
}
.rmPadding{
	padding-left:0px !important;
	padding-right:0px !important;
}
.gradAnimation {
    background: linear-gradient(317deg, #01945e, #41bb8e, #82b5a3, #95eacb);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 48s ease infinite;
    -moz-animation: AnimationName 48s ease infinite;
    animation: AnimationName 48s ease infinite;
}
.bi-gift-fill{
	font-size:x-large;
}
.pdtop{
	padding-top: 4%;
}

.hoverE:hover{
	-webkit-transform: scale(1.05);
	transform: scale(1.05, 1.05);
	cursor:pointer;
}
.rmlinkStyle{
	color:#333333;
	text-decoration: none;
}
.rmlinkStyle:hover{
	color:#333333;
	text-decoration: none;
}
.rmlinkStyle:active{
	color:#333333;
	text-decoration: none;
}
@-webkit-keyframes AnimationName {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}
@keyframes AnimationName {
    0%{background-position:10% 0%}
    50%{background-position:91% 100%}
    100%{background-position:10% 0%}
}

.BoxAnimation {
    background: linear-gradient(267deg, #2bcc91, #7cddb9, #f5f5f5);
    background-size: 600% 600%;

    -webkit-animation: AnimationName 29s ease infinite;
    -moz-animation: AnimationName 29s ease infinite;
    animation: AnimationName 29s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
}
@keyframes AnimationName {
    0%{background-position:5% 0%}
    50%{background-position:96% 100%}
    100%{background-position:5% 0%}
}


/* orbit social media*/

.orbit{
	position:relative;
	height:700px;
}
.body2 {
    position: absolute;
    
}
#sun {
    /* in the middle of the box */
    top: 52.8%;
    left: 47.8%;
    height: 42px;
    width: 150px;
    margin-top: -40.5px; 
    margin-left: -45.5px;
	cursor:pointer;
}

#twiter {
	z-index:10;
    top: 0%;
    left: 61%;
    
    border-radius:100%;
    height: 52.5px;
    width: 52.5px;
    margin-top: -18.75px;
    margin-left: -18.75px;
    box-shadow: 0 0 70px blue;
	cursor:pointer;
}

#twiter-orbit {
	z-index:10;
    top: 50%;
    left: 50%;
    border:1px #CAECD1 solid;
    border-radius:50%;
    width: 500px;
    height: 500px;
    margin-left: -250px;
    margin-top: -250px;
   
    
    -webkit-animation: spin-right 40s linear infinite;
    -moz-animation: spin-right 40s linear infinite;
    animation: spin-right 40s linear infinite;
}


#gmail {
	z-index:100;
    top: 0%;
    left: 60%;
    
    
    border-radius:100%;
    height: 35px;
    width: 35px;
    margin-top: -11.25px;
    margin-left: -11.25px;
    box-shadow: 0 0 40px green;
	cursor:pointer;
}

#gmail-orbit {
	z-index:100;
    top: 50%;
    left: 50%;
    border:1px #CAECD1 solid;
    border-radius:50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;

    -webkit-animation: spin-right 9s linear infinite;
    -moz-animation: spin-right 9s linear infinite;
    animation: spin-right 9s linear infinite;
  }

#discord {
	z-index:50;
    top: 0%;
    left: 50%;
    
    border-radius:100%;
    height: 45px;
    width: 45px;
    margin-top: -18.75px;
    margin-left: -18.75px;
    background-color: red;
    box-shadow: 0 0 50px red;
    cursor:pointer;
    }

#discord-orbit {
	z-index:50;
    top: 50%;
    left: 50%;
    border:1px #CAECD1 solid;
    border-radius:50%;
    width: 350px;
    height: 350px;
    margin-left: -175px;
    margin-top: -175px;
    
    -webkit-animation: spin-right 20s linear infinite;
    -moz-animation: spin-right 20s linear infinite;
    animation: spin-right 20s linear infinite;
}

#github {
    z-index:0;
    top: 0%;
    left: 65%;
    
    border-radius:100%;
    height: 65px;
    width: 65px;
    margin-top: -13.13px;
    margin-left: -13.13px;
    
    box-shadow: 0 0 100px green;
	cursor:pointer;
}

#github-orbit {
	z-index:0;
    top: 55%;
    left: 50%;
    border:1px #CAECD1 solid;
    border-radius:50%;
    width: 700px;
    height: 680px;
    margin-left: -375px;
    margin-top: -375px;
   
-webkit-animation: spin-right 14s linear infinite;
    -moz-animation: spin-right 14s linear infinite;
    animation: spin-right 60s linear infinite;
}




@-webkit-keyframes spin-right {
  100% {
      -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin-right {
    100% {
        -webkit-transform: rotate(360deg);
    }
}


@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap");




.leaderboard-card {
	background: #fff;
	margin-bottom: 30px;
	border-radius: 5px;
	overflow: hidden;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	font-family: "Roboto", sans-serif;
}
.leaderboard-card.leaderboard-card--first {
	transform: scale(1.05);
}
.leaderboard-card.leaderboard-card--first .leaderboard-card__top {
	background: linear-gradient(45deg, #7e57c2, #ab47bc);
	color: #fff;
}
.leaderboard-card__top {
	background: #f9f6ff;
	padding: 30px 0 30px 0;
}
.leaderboard-card__body {
	padding: 15px;
	margin-top: -40px;
}

img.circle-img {
	height: 70px;
	width: 70px;
	border-radius: 70px;
	border: 3px solid #fff;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
img.circle-img.circle-img--small {
	height: 55px;
	width: 55px;
	border-radius: 55px;
}

.table {
	border-spacing: 0 15px;
	border-collapse: separate;
}
.table thead tr th,
.table thead tr td,
.table tbody tr th,
.table tbody tr td {
	vertical-align: middle;
	border: none;
}
.table thead tr th:nth-last-child(1),
.table thead tr td:nth-last-child(1),
.table tbody tr th:nth-last-child(1),
.table tbody tr td:nth-last-child(1) {
	text-align: center;
}
.table tbody tr {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}
.table tbody tr td {
	background: #fff;
}
.table tbody tr td:nth-child(1) {
	border-radius: 5px 0 0 5px;
}
.table tbody tr td:nth-last-child(1) {
	border-radius: 0 5px 5px 0;
}


/* CountDown Timer*/

.base-timer {
  position: relative;
  width: 300px;
  height: 300px;
}

.base-timer__svg {
  transform: scaleX(-1);
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 7px;
  stroke: grey;
}

.base-timer__path-remaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.base-timer__path-remaining.green {
  color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
  color: orange;
}

.base-timer__path-remaining.red {
  color: red;
}

.base-timer__label {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 48px;
}
/* Timer Countdonwn Style*/
.timerStyle{
	font-size: 14px;
    line-height: 17px;
    color: #15192a;
    font-weight: bold;
}
.bi-stopwatch-fill{
		font-size:x-large;
}
.abouttoExpire{
	background: #FFC199; 
	border-left: 6px solid #FF6600; 
	color: #2c3e50; 
	padding:2px;
}
.abouttoExpire2{
	background: #FEEFB3; 
	border-left: 6px solid #9F6000; 
	color: #2c3e50; 
	padding:2px;
}
.dhuruarColor{
	background: #DFF2BF; 
	border-left: 6px solid #4F8A10; 
	color: #2c3e50;
	padding:2px;
}
.noline{
	line-height:10px !important;
}
.btn-outline-info{
	border-color: #0dcaf0 !important;
	margin-top:10px;
}
.autoc{
	display:none;
}