@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
.femra-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #74b39c;
  color: #fff;
  text-align: center;
  padding: 30px 0 120px;
  height: 70vh;
  -webkit-box-shadow: 0 20px 50px rgba(96, 107, 98, 0.7);
          box-shadow: 0 20px 50px rgba(96, 107, 98, 0.7);
  margin-bottom: 20vh;
}

.femra-header h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 65px;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 0.8;
  padding-top: 50px;
}

.femra-header h1 span {
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 25px;
  line-height: 1;
}

.femra-header p {
  padding-top: 30px;
}

.gallery {
  margin: 0 5vw 20vh 5vw;
}

.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
}

.gallery ul li {
  height: 40vh;
  margin: 2vh;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.gallery ul li:last-child {
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
}

.gallery ul li img {
  max-height: 100%;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
  -webkit-transition: -webkit-transform 400ms ease-out;
  transition: -webkit-transform 400ms ease-out;
  transition: transform 400ms ease-out;
  transition: transform 400ms ease-out, -webkit-transform 400ms ease-out;
}

.gallery ul li img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.modal-kategori {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  background-color: transparent;
  border: none;
}

.modalImg {
  position: relative;
  max-height: 75vh;
}

.autori-modal {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.over-content {
  position: absolute;
  bottom: 15px;
  background-color: #1313136c;
  padding: 10px;
  color: white !important;
}

.over-content a {
  color: white;
  font-size: 20px;
}

#butoni-close {
  background-color: transparent;
  border: none;
}

.arrows {
  font-size: 50px;
  color: white !important;
}

@media (max-aspect-ratio: 1 / 1) {
  .gallery ul li {
    height: 30vh;
  }
}

@media (max-height: 480px) {
  .gallery ul li {
    height: 80vh;
  }
}

@media (max-aspect-ratio: 1 / 1) and (max-width: 480px) {
  .gallery ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .gallery ul li {
    height: auto;
    width: 100%;
  }
  .gallery ul li img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}
/*# sourceMappingURL=femraStyle.css.map */