@import 'style';
@import 'header';
@import 'footer';
@import 'userPosts';
@import 'userProfile';
@import 'ballina';
@import 'femraStyle';
@import 'rethNesh';
@import 'comments';
@import 'editdelet';

// body{
 
//     background-image: url('http://localhost/dhuro/wp-content/themes/feniksat/assets/images/test.png'); 
//     background-size: cover;
//     background-position: left top;
//     background-repeat: no-repeat;
//     background-attachment: fixed;
// }