@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://gmpg.org/xfn/11");
@import url("https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
@import url("https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");
* {
  font-family: 'Poppins', sans-serif;
}

#register-button {
  margin-right: 5px;
  background-color: #5ab88c;
  color: white;
  border: 0;
  margin-top: 5px;
}

#register-button:hover {
  background-color: #69dda7;
  color: white;
}

#login-button {
  margin-right: 5px;
  background-color: #f8f9fa;
  color: black;
  border: 0;
  margin-top: 5px;
}

#login-button:hover {
  background-color: white;
  color: black;
}

.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}

/*Register Form*/
.form1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px;
}

.title {
  text-align: center;
  font-size: 30px;
}

.form1 input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: 0;
  background: #f2f2f2;
  width: 20vw;
  height: 7vh;
  border: 0;
  padding: 8px;
  margin-bottom: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
}

.form1 button {
  text-transform: uppercase;
  outline: 0;
  background: #1E6F5C;
  width: 20vw;
  height: 7vh;
  border: 0;
  border-radius: 5px;
  padding: 8px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}

.form1 button:hover {
  text-decoration: none;
  color: white;
  background: #184D47;
}

/* Navigation
--------------------------------------------- */
.nav1 a {
  font-weight: 600;
  color: #6e7c90;
}

.mt-nav {
  margin-top: 3rem !important;
}

.active2 {
  -webkit-box-shadow: 0 4px 2px -2px #74b39c;
          box-shadow: 0 4px 2px -2px #74b39c;
}

.underline:after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #74b39c;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.underline:hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

.popup {
  margin-top: 13px;
  border-collapse: separate;
  border-spacing: 30px 10px;
  background-color: #f8f8f8;
  border: 1px solid #e7e7e7;
  padding-right: 40px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.popup a {
  text-decoration: none;
  font-weight: 450;
  color: #6e7c90;
}

.popup a:hover {
  color: black;
  text-decoration: none !important;
}

.popup2 {
  border-collapse: separate;
  margin-top: 3%;
  margin-bottom: 0;
  border-spacing: 5px 0px;
  background-color: transparent;
}

.popup2 a {
  text-decoration: none;
  font-weight: 450;
  color: #6e7c90;
}

.popup2 a:hover {
  color: black;
}

@media (max-width: 950px) {
  .logo1 {
    float: none;
    display: none !important;
  }
  .info {
    opacity: 0 !important;
  }
  .left-side1 {
    visibility: hidden !important;
  }
  .page1 {
    margin: 40px 30px 0 0 !important;
    -ms-grid-columns: 0% (70%)[auto-fill] 30% !important;
        grid-template-columns: 0% repeat(auto-fill, 70%) 30% !important;
  }
  .wp-block-search__button {
    padding: 1px 5px 1px 5px !important;
  }
  .mobileL {
    margin: 10% 3% 0 unset !important;
    width: auto !important;
  }
  .mobileL2 {
    padding: 0px !important;
  }
  .form1 input {
    width: 55vw !important;
    height: auto !important;
  }
  .form1 button {
    width: auto !important;
    height: auto !important;
  }
  .csPostion {
    position: -webkit-sticky !important;
    position: sticky !important;
  }
}

@media (max-width: 560px) {
  .text-img {
    padding: 222px 30px 0px 80px !important;
  }
  .text-img img {
    width: 100% !important;
  }
  .csPostion {
    position: -webkit-sticky !important;
    position: sticky !important;
  }
  .logo1 {
    float: none;
    display: none !important;
  }
  .info {
    opacity: 0 !important;
  }
  .left-side1 {
    visibility: hidden !important;
  }
  .right-side-main {
    visibility: hidden !important;
  }
  .page1 {
    margin: 0 !important;
    -ms-grid-columns: 0% (55%)[auto-fill] 0% !important;
        grid-template-columns: 0% repeat(auto-fill, 55%) 0% !important;
    grid-gap: 0 !important;
  }
  .content1 {
    padding: 0px !important;
    width: 182% !important;
    margin-top: 10% !important;
  }
  .mobileA {
    padding: 0px !important;
  }
  .panel-content {
    padding: 0px !important;
  }
  .author-p {
    padding: 1px !important;
  }
  .author-photo2 {
    margin-left: 0px !important;
  }
  .author-profile-card2 {
    padding: 30px 0 0 0 !important;
  }
  .postf {
    font-size: 14px !important;
  }
  .textU {
    position: absolute;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-left: 47%;
    padding-right: 3%;
  }
  .mobileL {
    margin: 20% 3% 0 3% !important;
    width: auto !important;
  }
  .mobileL2 {
    padding: 00px !important;
  }
  .form1 input {
    width: auto !important;
    height: auto !important;
  }
  .form1 button {
    width: auto !important;
    height: auto !important;
  }
  .postoForm option, select {
    width: auto !important;
    height: auto !important;
    padding: 4% !important;
  }
  .postoForm input {
    width: 50vw !important;
    height: auto !important;
  }
  .postoForm textarea {
    width: 70vw !important;
    height: 12vh !important;
  }
  .submit-posto {
    padding: 5px !important;
  }
  .header-image h1 {
    font-size: 36px !important;
    letter-spacing: 0 !important;
  }
  .header-image span {
    font-size: 15px !important;
    padding-left: 5%;
  }
  .header-image {
    height: 50vh !important;
  }
  .rrethnesh-text {
    margin: 20vh 5vw !important;
  }
  .rrethnesh-text h1 {
    font-size: 36px !important;
  }
  .title h1 {
    font-size: 36px !important;
  }
  .team-members {
    display: -ms-grid !important;
    display: grid !important;
  }
  .flip-card2 {
    margin-bottom: 0 !important;
  }
  .femra-header {
    height: auto !important;
    padding: 30px 0 60px !important;
    margin-bottom: 10vh !important;
  }
  .femra-header h1 {
    font-size: 36px !important;
  }
  .MforMobile {
    display: block !important;
  }
  .form1 {
    padding-top: 0 !important;
  }
}

.MforMobile {
  display: none;
}

.costumModalHeader {
  padding: 8px 8px 0 0 !important;
  border-bottom: 0px solid #e5e5e5 !important;
}

.modal-header .close {
  font-size: xx-large;
}

.info {
  display: none;
  opacity: 0;
  -webkit-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
  z-index: 999 !important;
  position: absolute;
  text-decoration: none;
}

.form-control, .wp-block-search__input {
  border: 1px solid grey;
  border-radius: 5px;
  height: auto !important;
  width: 100%;
  padding: 5px 20px 5px 20px !important;
  outline: 0;
  background-color: #f5f5f5;
}

.form-control:hover, .form-control:focus, .wp-block-search__input:hover, .wp-block-search__input:focus {
  border: 1.5px solid #009688;
  background-color: white;
}

.search-submit, .wp-block-search__button {
  color: white;
  background-color: #1E6F5C;
  border: 1px solid grey;
  border-radius: 5px;
  padding: 5px 20px 5px 20px;
  outline: 0;
}

.search-submit:hover, .wp-block-search__button:hover {
  background-color: #8ac0ac;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.right-side1 #wp-block-search__input-1 {
  padding: 3px !important;
}

.right-side1 .wp-block-search__button {
  padding: 3px 10px 3px 10px;
}

.card-title a {
  text-decoration: none;
  font-weight: 500;
  color: #000000;
}

.card-title a:hover {
  text-decoration: none;
  font-weight: 500;
  color: #6e7c90;
}

.card {
  border: 0px solid rgba(0, 0, 0, 0.125);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}

.form-inline input {
  display: inline;
  white-space: nowrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

.profile-img .fa-plus-circle {
  position: absolute;
  z-index: 999;
  height: 230px;
  width: 230px;
  left: 50px;
  color: #2F5D62 !important;
  text-align: right;
  padding: 6px;
}

.navbar-default {
  background-color: white;
}

@media (max-width: 1100px) {
  .profile-img .fa-plus-circle {
    display: none;
  }
}

.modal-footer {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.navbar-toggle .icon-bar {
  border: 1px solid #77b49e;
}

.backbtn1 {
  color: white;
  background-color: #74b39c;
}

.backbtn1:hover {
  color: black !important;
}

.foterlist {
  list-style-type: none;
}

.foterlist li a {
  color: black;
  padding: 10px;
}

.footer-sidebar {
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: block;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.butonlogo {
  padding: 10px;
  margin: 10px;
}

.foterlogo {
  margin: 15px;
  padding: 10px;
}

.im15 {
  width: 40px;
  height: 30px;
}

.body-wrapper {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: auto 100%;
}

article {
  position: relative;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  -webkit-box-shadow: 0px 1px 2px 1px #ccc;
          box-shadow: 0px 1px 2px 1px #ccc;
}

.one {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  padding: 20px;
}

.user-profile-container {
  position: relative;
  width: 100%;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0px 1px 2px 1px #ccc;
          box-shadow: 0px 1px 2px 1px #ccc;
}

.user-profile-container .top-div {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-gradient(linear, left top, right top, from(#00618c), to(#283E4A));
  background: linear-gradient(to right, #00618c, #283E4A);
}

.user-profile-container #user-profile-picture {
  position: relative;
  height: 55px;
  width: 55px;
  border-radius: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 2px solid #ccc;
  margin-top: 40px;
}

.user-profile-container .content-div {
  position: relative;
  padding-top: 25px;
}

.user-profile-container .content-div .name-and-information {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.user-profile-container .content-div .name-and-information h1 {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.user-profile-container .content-div .name-and-information h2 {
  margin: 0;
  padding: 0;
  font-size: 15px;
  color: #555;
}

.user-profile-container .content-div .profile-stats {
  position: relative;
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 0px 10px 0px 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: auto auto;
  justify-items: center;
  grid-row-gap: 30px;
}

.user-profile-container .content-div .profile-stats .info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
}

.user-profile-container .content-div .profile-stats .info-container i {
  margin-bottom: 1px;
}

.two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-column: 2/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  padding: 20px;
}

.two .moodle-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background: white;
  border-radius: 2px;
}

.two .moodle-container .share-container {
  position: relative;
  top: 0px;
  left: 0px;
  padding: 0px 20px;
}

.two .moodle-container .share-container:after {
  content: "";
  position: absolute;
  display: block;
  bottom: 0px;
  left: 0%;
  background: #ccc;
  width: 100%;
  height: 1px;
}

.two .moodle-container input {
  border: none;
  width: 100%;
  padding: 30px 0px;
  font-size: 19px;
  color: #555;
}

.two .moodle-container input:focus {
  outline: none;
}

.two .moodle-container input::-webkit-input-placeholder {
  font-size: 19px;
}

.two .moodle-container .action-container {
  position: relative;
  bottom: 0px;
  left: 0px;
  padding: 12px 20px;
}

button {
  color: #666;
  cursor: pointer;
  padding: 8px 18px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

button:focus {
  outline: none;
}

.media-button {
  position: relative;
  cursor: pointer;
  border: 1px solid #666;
  background: transparent;
  border-radius: 40px;
}

.media-button:hover {
  border: 1px solid #0084BF;
  color: #0084BF;
}

.media-button:active {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.post-button {
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border: none;
  color: white;
  background-color: #1E6F5C;
  border-radius: 3px;
}

.post-button:hover {
  background: #00618c;
}

.post-button:active {
  -webkit-transform: scale(0.8) translateY(-50%);
          transform: scale(0.8) translateY(-50%);
}

.post-container {
  position: relative;
  width: 100%;
  background: white;
  padding: 10px;
}

.post-container .post-top-bar {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 0px;
  left: 0px;
  padding: 10px;
}

.post-container .post-top-bar:after {
  content: "";
  position: absolute;
  display: block;
  height: 1px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background: #ccc;
}

.post-container .toggle {
  position: absolute;
  right: 0px;
  display: none;
}

.post-container #toggle-info {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  cursor: pointer;
  height: 20px;
  width: 20px;
  border: 1px solid black;
  border-radius: 100%;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.post-container #toggle-info:before {
  content: "i";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.post-container .toggle-options {
  display: none;
  position: absolute;
  width: 250px;
  border: 1px solid #ccc;
  background: white;
  right: -5px;
  top: 90%;
  z-index: 10;
  -webkit-box-shadow: 0px 1px 2px 1px #ccc;
          box-shadow: 0px 1px 2px 1px #ccc;
}

.post-container .toggle-options h3 {
  position: relative;
  padding: 15px;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
}

.post-container .toggle-options h3:hover {
  background: #f7f7f7;
}

.post-container .toggle-options h3:last-child {
  border-bottom: none;
}

.post-container .toggle-options h3:after {
  position: relative;
  display: block;
  color: #777;
  font-size: 14px;
  margin-top: 2px;
}

.post-container .toggle-options h3:nth-child(2):after {
  content: "Remove this post from my feed";
}

.post-container .toggle-options h3:nth-child(3):after {
  content: "Stop seeing Charlie's posts";
}

.post-container #toggleFor:checked ~ .toggle-options {
  display: block;
}

.post-container #toggleFor:checked ~ label {
  border: 1px solid #0084BF;
}

.post-container #toggleFor:checked ~ label:before {
  color: #0084BF;
}

.post-container .name {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 15px;
}

.profile-title {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px;
}

.profile-title img {
  position: relative;
  border-radius: 100%;
  height: 55px;
  width: 55px;
}

.profile-title .user-information-container {
  position: relative;
  margin-left: 10px;
  line-height: 1.2;
}

.profile-title .user-information-container h3 {
  font-weight: 700;
}

.profile-title .user-information-container p {
  color: #bfbfbf;
  font-size: 14px;
}

.user-text {
  position: relative;
  padding: 0px 10px 15px 10px;
  border-bottom: 1px solid #ccc;
}

.user-text p.custom-text {
  position: relative;
  line-height: 1.7;
  font-size: 16px;
  margin-bottom: 10px;
}

.bottom-bar-container {
  position: relative;
}

.bottom-bar-social {
  padding: 10px;
  position: relative;
}

.bottom-bar-social .social {
  position: relative;
  background: transparent;
  cursor: pointer;
  padding: 10px;
  border: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin-right: 10px;
}

.bottom-bar-social .social:hover {
  background: rgba(0, 132, 191, 0.2);
}

.bottom-bar-social .social:last-child {
  margin-right: 0px;
}

#liked-after:after {
  content: "1 Like";
  position: absolute;
  top: -70%;
  left: 0;
  color: #ccc;
  font-size: 13px;
  opacity: 0;
}

#like:checked ~ #liked-after:after {
  opacity: 1;
}

#comment:checked ~ .comment-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#komento, #pelqeje {
  display: none;
}

#like:checked ~ #liked-after {
  -webkit-animation: grow 1.5s ease forwards;
          animation: grow 1.5s ease forwards;
}

.teksti {
  margin-left: 10px;
}

@-webkit-keyframes grow {
  50% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes grow {
  50% {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

#share:checked ~ .icon:nth-child(7) {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

#share:checked ~ .icon:nth-child(8) {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transition-delay: 0.125s;
          transition-delay: 0.125s;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

#share:checked ~ .icon:nth-child(9) {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

#share:checked ~ .icon:nth-child(10) {
  -webkit-transition: 0.4s;
  transition: 0.4s;
  -webkit-transition-delay: 0.375s;
          transition-delay: 0.375s;
  opacity: 1;
  -webkit-transform: translateY(0px);
          transform: translateY(0px);
}

.comment-box {
  position: relative;
  display: none;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 10px;
}

.comment-box img {
  position: relative;
  border-radius: 100%;
  height: 35px;
  width: 35px;
}

.comment-box input {
  width: 90%;
  margin-left: 10px;
  text-indent: 5px;
}

.comment-box input:focus {
  outline: none;
}

.fa {
  color: #0084BF;
  cursor: pointer;
  margin-right: 7px;
  font-size: 20px;
  opacity: 0;
  -webkit-transform: translateY(7px);
          transform: translateY(7px);
}

.three {
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  padding: 20px;
}

.column {
  position: relative;
}

.new-paragraph:nth-child(4):after {
  content: "1hr";
}

.new-paragraph:nth-child(5):after {
  content: "2hr";
}

.new-paragraph:nth-child(6):after {
  content: "3hr";
}

.new-paragraph:nth-child(7):after {
  content: "4hr";
}

.new-paragraph:nth-child(8):after {
  content: "4hr";
}

.new-paragraph:nth-child(9):after {
  content: "5hr";
}

.new-paragraph:nth-child(10):after {
  content: "5hr";
}

.new-paragraph:nth-child(11):after {
  content: "6hr";
}

.news-container {
  padding: 20px;
  position: relative;
  background: white;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0px 1px 2px 1px #ccc;
          box-shadow: 0px 1px 2px 1px #ccc;
}

.news-container h3 {
  position: relative;
  display: block;
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}

.news-container p {
  position: relative;
  list-style-type: none;
  margin-bottom: 5px;
  color: #555;
}

.news-container p:before {
  content: "• ";
  position: absolute;
  left: -12px;
  top: -10px;
  color: #0084BF;
  font-size: 30px;
}

.news-container p:after {
  position: absolute;
  right: 0px;
  bottom: 0px;
  color: #ccc;
  font-size: 12px;
}

#chevronLabel {
  position: absolute;
  bottom: 20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
}

#chevronLabel #arrow-two {
  position: absolute;
  top: 0px;
}

#chevronLabel #arrow {
  position: absolute;
}

.display-none, #arrow-two {
  display: none;
}

#chevron:checked ~ .display-none, #chevron:checked ~ label #arrow-two {
  display: block;
}

#chevron:checked ~ label #arrow {
  display: none;
}

#chevron {
  display: none;
}

.share-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
}

.post-container-profile {
  width: 70vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto auto auto;
      grid-template-columns: auto auto auto;
  grid-gap: 2rem;
}

.postimg {
  width: 20vw;
  height: 30vh;
}

.userpost {
  width: 20vw;
  margin-left: 15px;
  height: 60vh;
}

.social a {
  text-decoration: none;
  color: #555;
}

.social a:hover {
  text-decoration: none;
}

@media screen and (max-width: 950px) {
  .column.one, .column.three {
    display: none;
  }
  .column.two {
    -ms-grid-column: 1;
    -ms-grid-column-span: 4;
    grid-column: 1/5;
  }
}

@media screen and (max-width: 615px) {
  .menu-container {
    display: none !important;
  }
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.profile-header {
  margin-top: 35%;
  background: #fff;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 190px;
  position: relative;
  -webkit-box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}

.profile-img {
  float: left;
  width: 340px;
  height: 200px;
}

.profile-img img {
  border-radius: 50%;
  height: 230px;
  width: 230px;
  border: 5px solid #fff;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 50px;
  top: 20px;
  z-index: 5;
  background: #fff;
}

.profili {
  float: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 60px;
}

.profili h3 {
  font-variant: small-caps;
  font-size: 2rem;
  font-weight: bold;
}

.profili .address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  color: #777;
}

.profili .address p {
  margin-right: 5px;
}

.profile-option {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  outline: none;
  background: #74b39c;
}

.profile-option:hover {
  background: #fff;
  border: 1px solid #74b39c;
}

.profile-option:hover .notification i {
  color: #74b39c;
}

.profile-option:hover span {
  background: #74b39c;
}

.profile-option .notification i {
  color: #fff;
  font-size: 1.2rem;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.profile-option .notification .alert-message {
  position: absolute;
  top: -5px;
  right: -5px;
  background: #fff;
  color: #74b39c;
  border: 1px solid #74b39c;
  padding: 5px;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
  font-weight: bold;
}

.main-bd {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-right: 15px;
}

.profile-side {
  width: 300px;
  background: #fff;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 90px 30px 20px;
  margin-left: 10px;
  z-index: 99;
}

.profile-side p {
  margin-bottom: 7px;
  color: #333;
  font-size: 14px;
}

.profile-side p i {
  color: #74b39c;
  margin-right: 10px;
}

.mobile-no i {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  color: #74b39c;
}

.profile-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

button.chatbtn,
button.createbtn {
  border: 0;
  padding: 10px;
  width: 100%;
  border-radius: 3px;
  background: #1E6F5C;
  color: #fff;
  font-size: 1rem;
  margin: 5px 2px;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  -webkit-box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.3);
}

button.chatbtn:hover,
button.createbtn:hover {
  background: #74b39c;
}

button.chatbtn i,
button.createbtn i {
  margin-right: 5px;
}

.user-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-rating h3 {
  font-size: 2.5rem;
  font-weight: 200;
  margin-right: 5px;
  letter-spacing: 1px;
  color: #666;
}

.user-rating .no-of-user-rate {
  font-size: 0.9rem;
}

.rate {
  padding-top: 6px;
}

.rate i {
  font-size: 0.9rem;
  color: #74b39c;
}

.userdata {
  width: 100%;
  z-index: -1;
}

.userdata ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
  height: 40px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.userdata ul li {
  padding: 10px;
  width: 100%;
  cursor: pointer;
  text-align: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.userdata ul li:hover,
.userdata ul li.active {
  -webkit-box-shadow: 0px -3px 0px #74b39c inset;
          box-shadow: 0px -3px 0px #74b39c inset;
}

.profile-body {
  width: 100%;
  z-index: -1;
}

.tab {
  display: none;
}

.tab {
  padding: 20px;
  width: 100%;
}

@media (max-width: 1100px) {
  .profile-side {
    width: 250px;
    padding: 90px 15px 20px;
  }
  .profile-img img {
    height: 200px;
    width: 200px;
    left: 50px;
    top: 50px;
  }
}

@media (max-width: 900px) {
  body {
    margin: 0 20px;
  }
  .profile-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    padding-bottom: 20px;
  }
  .profile-img {
    float: left;
    width: 100%;
    height: 200px;
  }
  .profile-img img {
    position: relative;
    height: 200px;
    width: 200px;
    left: 0px;
  }
  .profili {
    text-align: center;
  }
  .profile-option {
    right: 20px;
    top: 75%;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  .main-bd {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-right: 0;
  }
  .profile-side {
    width: 100%;
    text-align: center;
    padding: 20px;
    margin: 5px 0;
  }
  .profili .address {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .user-rating {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 400px) {
  .profile-option {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 15px;
    top: 83%;
  }
  .profile-option .notification .alert-message {
    top: -3px;
    right: -4px;
    padding: 4px;
    height: 15px;
    width: 15px;
    font-size: 0.7rem;
  }
  .profili h3 {
    font-size: 1.9rem;
  }
  .profili .address p,
  .profili .address span {
    font-size: 0.7rem;
  }
}

#see-more-bio,
#see-less-bio {
  color: blue;
  cursor: pointer;
  text-transform: lowercase;
}

.tab h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px auto;
}

.table {
  width: 70vw;
}

.table td {
  border: none;
}

.page1 {
  margin-top: 66px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.kategorit {
  display: inline;
}

.left-side1 {
  border-radius: 8px;
  background-color: white;
  padding-left: 10px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: 25vw;
}

.card-profile_info {
  padding: 10px;
  text-align: center;
}

.right-side-main {
  width: 25vw;
}

.right-side1 {
  border-radius: 8px;
  background-color: white;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-left: 10%;
  padding-right: 10%;
  margin-bottom: 20px;
  margin-top: 15px;
}

.content1 {
  margin: 0 30px 0 30px;
  width: 45vw;
}

.panel {
  color: #696969;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
}

.profile-cover {
  position: relative;
  z-index: 0;
}

.foto {
  border-radius: 50px;
}

.profile-cover__action {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  padding: 120px 30px 10px 153px;
  border-radius: 5px 5px 0 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
  overflow: hidden;
  /* background: url(https://bootdey.com/img/Content/bg1.jpg) no-repeat; */
  background-size: cover;
}

.profile-cover__action > .btn {
  margin-left: 10px;
  margin-bottom: 10px;
}

.profile-cover__img {
  /* top: 120px;
  left: 30px;  */
  text-align: center;
  z-index: 1;
}

.profile-cover__img > img {
  width: 70px;
  height: 70px;
  border: 5px solid #fff;
  border-radius: 50%;
}

.profile-cover__img > .h3 {
  color: #393939;
  font-size: 20px;
  line-height: 30px;
}

.profile-cover__img > img + .h3 {
  margin-top: 6px;
}

.profile-cover__info .nav {
  margin-right: 28px;
  padding: 15px 0 10px 170px;
  color: #999;
  font-size: 16px;
  line-height: 26px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  -ms-flex-pack: end;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.profile-cover__info .nav li {
  margin-top: 13px;
  margin-bottom: 13px;
}

.profile-cover__info .nav li:not(:first-child) {
  margin-left: 30px;
  padding-left: 30px;
  border-left: 1px solid #eee;
}

.profile-cover__info .nav strong {
  display: block;
  margin-bottom: 10px;
  color: #e16123;
  font-size: 34px;
}

@media (min-width: 481px) {
  .profile-cover__action > .btn {
    min-width: 125px;
  }
  .profile-cover__action > .btn > span {
    display: inline-block;
  }
}

@media (max-width: 900px) {
  body {
    margin: 20px 0 0 0;
  }
}

@media (max-width: 600px) {
  .profile-cover__info .nav {
    display: block;
    margin: 90px auto 0;
    padding-left: 30px;
    padding-right: 30px;
  }
  .profile-cover__info .nav li:not(:first-child) {
    margin-top: 8px;
    margin-left: 0;
    padding-top: 18px;
    padding-left: 0;
    border-top: 1px solid #eee;
    border-left-width: 0;
  }
}

.panel {
  margin-bottom: 30px;
  color: #696969;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
}

.panel-heading {
  color: #393939;
  padding: 10px 20px;
  border-width: 0;
  border-radius: 0;
}

.panel-heading:after,
.panel-heading:before {
  content: " ";
  display: table;
}

.panel-heading:after {
  clear: both;
}

.panel-title {
  float: left;
  margin-top: 3px;
  margin-bottom: 3px;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.panel-title select {
  border-width: 0;
  background-color: transparent;
  text-transform: uppercase;
}

.panel-title select option {
  text-transform: capitalize;
}

.panel-title .select2 {
  display: block;
  min-width: 200px;
}

.panel-title .select2-selection {
  height: auto;
  padding: 0;
  background-color: transparent;
  border-width: 0;
  border-radius: 0;
  overflow: hidden;
  white-space: nowrap;
}

.no-outlines .panel-title .select2-selection {
  outline: 0;
}

.panel-title .select2-selection .select2-selection__rendered {
  float: left;
  margin-right: 8px;
  padding: 0;
  line-height: inherit;
}

.panel-title .select2-selection .select2-selection__arrow {
  float: left;
  display: block;
  position: relative;
  top: auto;
  right: auto;
  width: auto;
  height: auto;
}

.panel-title .select2-selection .select2-selection__arrow:before {
  content: "\f107";
  font-family: "Font Awesome\ 5 Free";
  font-weight: 700;
}

.panel-title .select2-container--open .select2-selection__arrow:before {
  content: "\f106";
}

.panel-heading .dropdown {
  float: right;
}

.panel-heading .dropdown .dropdown-toggle {
  margin: -10px -20px;
  padding: 10px 20px;
  color: #999;
  border-width: 0;
  font-size: 14px;
  line-height: 30px;
  cursor: pointer;
}

.avatar-65, .avatar-59, .avatar-25 {
  border-radius: 60%;
}

.panel-heading .dropdown .dropdown-toggle:after,
.toolbar__nav > li > a > span {
  display: none;
}

.panel-heading .dropdown-menu {
  top: 30px !important;
  left: auto !important;
  right: -20px;
  margin: 0;
  padding: 10px 0;
  border-width: 0;
  border-radius: 4px 0 0 4px;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
  -webkit-transform: none !important;
  transform: none !important;
  z-index: 1001;
}

.panel-heading .dropdown-menu a {
  padding: 5px 15px;
  color: #999;
  font-size: 13px;
  line-height: 23px;
}

.panel-heading .dropdown-menu a:hover {
  color: #e16123;
}

.panel-heading .dropdown-menu i {
  min-width: 15px;
  margin-right: 6px;
  font-size: 11px;
  text-align: center;
}

.panel-subtitle {
  margin: 20px 0;
}

.panel-subtitle:first-child {
  margin-top: 0;
}

.panel-subtitle .h5 {
  color: #999;
  font-weight: 600;
}

.panel-subtitle .h5 small {
  color: #777;
}

.panel-body {
  padding: 20px;
}

.panel-content,
.panel-social {
  position: relative;
  border-radius: 0 0 4px 4px;
}

.panel-content {
  border-top: 1px solid #eee;
  padding: 31px 20px 33px;
}

.panel-about table {
  width: 100%;
  word-break: break-word;
}

.panel-about table tr + tr td,
.panel-about table tr + tr th {
  padding-top: 8px;
}

.panel-about table th {
  min-width: 120px;
  color: #2bb3c0;
  font-weight: 400;
  vertical-align: top;
}

.panel-about table th > i {
  min-width: 14px;
  margin-right: 8px;
  text-align: center;
}

.panel-social {
  padding: 0 20px 33px;
  z-index: 0;
}

.panel-heading + .panel-social {
  padding-top: 21px;
  border-top: 1px solid #eee;
}

.panel-social > .nav {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.panel-social > .nav > li:not(:last-child) {
  margin-right: 20px;
}

.panel-social > .nav > li > a {
  color: #ccc;
}

.panel-activity__status > .actions {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  padding: 10px 20px;
  background-color: #ebebea;
  border-style: solid;
  border-width: 0 1px 1px;
  border-color: #ccc;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.btn-link {
  display: inline-block;
  color: inherit;
  font-weight: inherit;
  cursor: pointer;
  background-color: transparent;
}

button.btn-link {
  border-width: 0;
}

.panel-activity__status > .actions > .btn-group > .btn-link:not(:last-child) {
  margin-right: 25px;
}

.panel-activity__status > .actions > .btn-group > .btn-link {
  padding-left: 0;
  padding-right: 0;
  color: #9c9c9c;
}

.btn-info {
  background-color: #1E6F5C;
  border: none;
}

.btn-group,
.btn-group-vertical {
  position: relative;
  display: -ms-inline-flexbox;
  display: -webkit-inline-box;
  display: inline-flex;
  vertical-align: middle;
}

.panel-activity__status > .actions > .btn-group {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
  font-size: 16px;
}

.panel-activity__list {
  margin: 60px 0 0;
  padding: 0;
  list-style: none;
}

.panel-activity__list,
.panel-activity__list > li {
  position: relative;
  z-index: 0;
}

.panel-activity__list:before {
  content: " ";
  display: none;
  position: absolute;
  top: 20px;
  left: 35px;
  bottom: 0;
  border-left: 2px solid #ebebea;
}

.activity__list__icon {
  display: none;
  position: absolute;
  top: 2px;
  left: 0;
  min-width: 30px;
  color: #fff;
  background-color: #2bb3c0;
  border-radius: 50%;
  line-height: 30px;
  text-align: center;
}

.panel-activity__list,
.panel-activity__list > li {
  position: relative;
  z-index: 0;
}

.activity__list__header {
  position: relative;
  min-height: 35px;
  padding-top: 4px;
  padding-left: 45px;
  color: #999;
  z-index: 0;
}

.activity__list__body {
  padding-top: 13px;
  padding-left: 43px;
}

.entry-content .gallery {
  margin: 0;
  list-style: none;
  padding: 0;
}

.entry-content .gallery,
.m-error {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.entry-content .gallery > li {
  padding-right: 20px;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  -webkit-box-flex: 1;
          flex-grow: 1;
  max-width: 100%;
}

.gallery > li img {
  max-width: 100%;
  height: auto;
}

.entry-content blockquote:last-child,
p:last-child,
table:last-child,
ul:last-child {
  margin-bottom: 0;
}

.entry-content blockquote:last-child,
p:last-child,
table:last-child,
ul:last-child {
  margin-bottom: 0;
}

.entry-content blockquote p:before {
  content: "\f10d";
  color: #999;
  margin-right: 12px;
  font-family: "FontAwesome";
  font-size: 24px;
  font-weight: 900;
}

.activity__list__header img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 35px;
  border-radius: 50%;
}

.activity__list__header a {
  color: #222;
  font-weight: 600;
}

.activity__list__footer {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  margin-top: 23px;
  margin-left: 43px;
  padding: 13px 8px 0;
  color: #999;
  border-top: 1px dotted #ccc;
}

.activity__list__footer a {
  color: inherit;
}

.activity__list__footer a + a {
  margin-left: 15px;
}

.activity__list__footer i {
  margin-right: 8px;
}

.activity__list__footer a:hover {
  color: #222;
}

.activity__list__footer span {
  margin-left: auto;
}

.panel-activity__list > li + li {
  margin-top: 51px;
}

.weather--panel {
  padding: 24px 20px 36px;
  border-radius: 5px;
  text-align: center;
}

.weather--title {
  font-size: 18px;
  line-height: 28px;
  font-weight: 600;
}

.weather--title .fa {
  margin-right: 5px;
  font-size: 30px;
  line-height: 40px;
}

.weather--info {
  margin-top: 14px;
  font-size: 46px;
  line-height: 56px;
}

.weather--info .wi {
  margin-right: 10px;
}

.bg-blue {
  background-color: #2bb3c0;
}

.bg-orange {
  background-color: #e16123;
}

.todo--panel .list-group,
.user--list > li,
.user--list > li > a {
  position: relative;
  z-index: 0;
}

.hero-height {
  max-height: 314px;
}

.hero-height .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #e9ecee;
}

.todo--panel .list-group {
  margin-bottom: 0;
  padding-top: 23px;
  padding-bottom: 25px;
}

.todo--panel .list-group:before {
  content: " ";
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  border-top: 1px solid #eee;
}

.todo--panel .list-group-item {
  margin-top: 27px;
  padding: 0;
  border-width: 0;
}

li.list-group-item:first-child {
  margin-top: 0;
}

.todo--label {
  padding-left: 20px;
  padding-right: 30px;
  color: #696969;
  font-weight: 400;
}

.todo--input {
  display: none;
}

.todo--text {
  display: block;
  position: relative;
  padding-left: 39px;
  -webkit-transition: color 0.25s;
  transition: color 0.25s;
  cursor: pointer;
  z-index: 0;
}

.todo--input:checked + .todo--text {
  color: #999;
  text-decoration: line-through;
}

.todo--text:after,
.todo--text:before {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -10px;
  width: 20px;
  height: 20px;
  border-radius: 2px;
}

.todo--text:before {
  border: 1px solid #ccc;
  content: " ";
}

.todo--text:after {
  content: "\f00c";
  color: #fff;
  background-color: #009378;
  font-family: "FontAwesome";
  font-size: 11px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  opacity: 0;
  -webkit-transform: scale(0.3);
  transform: scale(0.3);
  -webkit-transition: opacity 0.25s linear, -webkit-transform 0.25s linear;
  transition: opacity 0.25s linear, -webkit-transform 0.25s linear;
  transition: opacity 0.25s linear, transform 0.25s linear;
  transition: opacity 0.25s linear, transform 0.25s linear, -webkit-transform 0.25s linear;
}

.todo--input:checked + .todo--text:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.todo--remove {
  position: absolute;
  top: 50%;
  right: 20px;
  margin-top: -15px;
  color: #999;
  font-size: 18px;
  line-height: 28px;
}

.todo--panel .input-group {
  border-top: 1px solid #eee;
}

.todo--panel .form-control {
  height: auto;
  padding: 13px 20px 14px;
  border-width: 0;
}

.todo--panel .btn-link {
  padding: 12px 16px;
  color: #ccc;
  font-size: 28px;
  border-width: 0;
  text-decoration: none;
}

.feeds-panel {
  margin: 20px 20px 0;
  padding-top: 17px;
  padding-bottom: 23px;
  border-top: 1px solid #ebebea;
}

.feeds-panel li {
  position: relative;
  width: 100%;
  min-height: 20px;
  padding-left: 40px;
  z-index: 0;
}

.feeds-panel li a {
  color: #e16123;
}

.feeds-panel li + li {
  margin-top: 12px;
}

.bg-red {
  background-color: #ff4040;
}

.bg-green {
  background-color: #009378;
}

.comments-panel > ul > li:after,
.comments-panel > ul > li:before,
.feeds-panel li:after,
.feeds-panel li:before {
  content: " ";
  display: table;
}

.comments-panel > ul > li:after,
.feeds-panel li:after {
  clear: both;
}

.feeds-panel .time {
  float: right;
  margin-left: 5px;
  color: #ccc;
  font-style: italic;
}

.feeds-panel .fa {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 30px;
  border-radius: 2px;
  font-size: 12px;
  line-height: 30px;
  text-align: center;
}

.feeds-panel .text {
  color: #696969;
  line-height: 26px;
}

.right-side1 #wp-block-search__input-1 {
  padding: 5px;
}

.postoForm input {
  width: 25vw;
  height: 8vh;
  margin: 10px;
  padding: 10px;
  border: none;
  background-color: #cbf1ea42;
  border-radius: 20px;
  border: solid #ccc 1px;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 10px;
  border: 1px solid #ccc;
  cursor: pointer;
  height: 8vh;
  width: 25vw;
  background-color: #cbf1ea42;
  border-radius: 20px;
}

.custom-file-upload i {
  margin-right: 5px;
}

.postoForm textarea {
  width: 25vw;
  height: 15vh;
  margin: 10px;
  padding: 10px;
  resize: none;
  border: none;
  background-color: #cbf1ea42;
  border-radius: 20px;
  border: solid #ccc 1px;
}

.buton1 {
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  background-color: white;
}

.postoForm label, .postoForm select {
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 5px;
}

.postoForm option, .postoForm select {
  width: 25vw;
  height: 8vh;
  background-color: #cbf1ea42;
  border-radius: 10px;
  border: solid #ccc 1px;
}

.submit-posto {
  border: 0;
  padding: 10px;
  width: 40%;
  border-radius: 3px;
  background: #1E6F5C;
  color: #fff;
  font-size: 1.5rem;
  margin: 5px 2px;
  cursor: pointer;
  outline: none;
  margin-bottom: 10px;
}

.image {
  position: relative;
  width: 50%;
  margin: 5px;
}

.imageoverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  font-family: 'Quicksand', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  opacity: 0;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

.imageoverlay--blur {
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.buton1 {
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}

.image {
  position: relative;
  width: 50%;
  margin: 5px;
}

.imageimg {
  display: block;
  width: 100%;
}

.imageoverlay > * {
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-transition: -webkit-transform 0.25s;
  transition: -webkit-transform 0.25s;
  transition: transform 0.25s;
  transition: transform 0.25s, -webkit-transform 0.25s;
}

.imageoverlay:hover {
  opacity: 1;
}

.imageoverlay:hover > * {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.imagetitle {
  font-size: 2px;
  font-weight: bold;
}

.image__description {
  font-size: 2px;
  margin-top: 0.25em;
}

.image p {
  text-align: center;
}

.btndhuro1 {
  padding: 10px;
  margin: 10px;
  text-align: center;
  background-color: #1E6F5C;
  border: #74b39c;
  width: 20vw;
  border-radius: 3px;
}

.btndhuro1 a {
  color: white;
  text-decoration: none;
}

.container-fluid {
  background-color: #fafbfd;
}

.femra-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #74b39c;
  color: #fff;
  text-align: center;
  padding: 30px 0 120px;
  height: 70vh;
  -webkit-box-shadow: 0 20px 50px rgba(96, 107, 98, 0.7);
          box-shadow: 0 20px 50px rgba(96, 107, 98, 0.7);
  margin-bottom: 20vh;
}

.femra-header h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 65px;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 0.8;
  padding-top: 50px;
}

.femra-header h1 span {
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 25px;
  line-height: 1;
}

.femra-header p {
  padding-top: 30px;
}

.gallery {
  margin: 0 5vw 20vh 5vw;
}

.gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style-type: none;
}

.gallery ul li {
  height: 40vh;
  margin: 2vh;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.gallery ul li:last-child {
  -webkit-box-flex: 10;
      -ms-flex-positive: 10;
          flex-grow: 10;
}

.gallery ul li img {
  max-height: 100%;
  min-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  vertical-align: bottom;
  -webkit-transition: -webkit-transform 400ms ease-out;
  transition: -webkit-transform 400ms ease-out;
  transition: transform 400ms ease-out;
  transition: transform 400ms ease-out, -webkit-transform 400ms ease-out;
}

.gallery ul li img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.modal-kategori {
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0);
  background-color: transparent;
  border: none;
}

.modalImg {
  position: relative;
  max-height: 75vh;
}

.autori-modal {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.over-content {
  position: absolute;
  bottom: 15px;
  background-color: #1313136c;
  padding: 10px;
  color: white !important;
}

.over-content a {
  color: white;
  font-size: 20px;
}

#butoni-close {
  background-color: transparent;
  border: none;
}

.arrows {
  font-size: 50px;
  color: white !important;
}

@media (max-aspect-ratio: 1 / 1) {
  .gallery ul li {
    height: 30vh;
  }
}

@media (max-height: 480px) {
  .gallery ul li {
    height: 80vh;
  }
}

@media (max-aspect-ratio: 1 / 1) and (max-width: 480px) {
  .gallery ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .gallery ul li {
    height: auto;
    width: 100%;
  }
  .gallery ul li img {
    width: 100%;
    max-height: 75vh;
    min-width: 0;
  }
}

.header-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 90vh;
  margin: 0;
  padding: 0;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 4px 4px 70px 20px rgba(71, 71, 71, 0.63);
          box-shadow: 4px 4px 70px 20px rgba(71, 71, 71, 0.63);
}

.header-image h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 65px;
  font-weight: 400;
  letter-spacing: 3px;
  line-height: 0.8;
  padding-top: 50px;
  font-weight: bold;
  border-bottom: solid 3px #FFD365;
  padding-bottom: 3vh;
  color: white;
}

.header-image span {
  text-transform: uppercase;
  letter-spacing: 7px;
  font-size: 25px;
  line-height: 1;
  font-weight: bold;
  color: white;
}

.rrethnesh-text {
  text-align: center;
  margin: 20vh 20vw;
}

.rrethnesh-text h1 {
  font-size: 50px;
  margin-bottom: 5vh;
}

.rrethnesh-text p {
  font-size: 20px;
  text-align: justify;
}

.team-leaders {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.team-leaders img {
  width: 30vw;
  height: 40vh;
  border-radius: 100%;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
}

.title h1 {
  font-size: 50px;
}

.team-members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.team-members img {
  width: 15vw;
  height: 25vh;
  border-radius: 100%;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  margin-bottom: 10vh;
  margin-top: 5vh;
}

.flip-card2 {
  background-color: transparent;
  width: 15vw;
  height: 30vh;
  margin-bottom: 10vh;
  margin-top: 5vh;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.6s;
  transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
  transition: transform 0.6s, -webkit-transform 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-card2:hover .flip-card-inner {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  color: black;
}

.flip-card-back {
  background-color: rgba(24, 226, 24, 0.568);
  color: white;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  border-radius: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2);
}

#author, #email {
  font-family: "Open Sans", "Droid Sans", Arial;
  font-style: italic;
  color: #1d1d1d;
  letter-spacing: .1em;
}

#url {
  color: #1d1d1d;
  font-family: "Luicida Console", "Courier New", "Courier", monospace;
}

#submit {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #5ab88c), to(#5ab88c));
  background: linear-gradient(to bottom, #5ab88c 5%, #5ab88c 100%);
  background-color: #1E6F5C;
  border-radius: 28px;
  border: 1px solid #1E6F5C;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
}

#submit:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #5ab88c), to(#5ab88c));
  background: linear-gradient(to bottom, #5ab88c 5%, #5ab88c 100%);
  background-color: #1E6F5C;
}

#submit:active {
  position: relative;
  top: 1px;
}

.comments-title {
  display: none;
}

.comment-list {
  display: none;
}

.comment-respond {
  display: inline-block;
  margin-left: 20px;
  margin-right: 10px;
}

.comments-area {
  display: none;
}

.postcomments {
  width: 40vw;
  margin-left: 6vh;
  margin-top: 25px;
  margin-bottom: 20px;
}

.komentocat {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid #c7c6c6;
  border-radius: 5px;
  width: 25vw;
  margin-left: 20px;
  padding-bottom: 8px;
}

.komento {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid #c7c6c6;
  border-radius: 5px;
  width: 35vw;
  margin-left: 20px;
  margin-bottom: 20px;
}

.post-comments {
  width: 25vw;
  margin-left: -30px;
}

.comment-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: -0px;
  padding: 0px;
}

.comment-avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

#textareacomment {
  width: 12vw;
  padding: 10px;
  margin-left: 10px;
  resize: none;
}

.avatar-32 {
  height: 60px;
  width: 60px;
  border-radius: 50px;
}

.post-comment-new {
  margin-left: 5px;
}

#inputComment {
  width: 20vw;
}

#submit {
  text-align: center;
  padding: 10px;
  margin-left: 10px;
  font-size: 15px;
  margin-top: 10px;
  background-color: #1E6F5C;
}

.submit {
  background-color: #1E6F5C;
}

.social a {
  text-decoration: none;
  opacity: 1;
}

.userkomentet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 35vw;
  margin-left: 20px;
  border-radius: 10px;
  background-color: #F2F3F5;
  padding: 5px;
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.userkomentet h5 {
  margin-left: 10px;
}

.userkomentet #koment {
  margin-left: 10px;
}

.kontenti {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.random {
  border-radius: 5px;
  border: 2px solid green;
}

.commentAuthor {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.right-side2 {
  width: 300px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  float: right;
  bottom: 8px;
  right: 16px;
  background-color: white;
  border-radius: 8px;
}

.left-side1 {
  margin-left: 20px;
  width: 350px;
}

.dropdown1 {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.drop22 {
  display: none;
  grid-row-gap: 10px;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  -webkit-box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
  z-index: 2;
}

.dropdown1:hover .drop22 {
  display: block;
  display: -ms-grid;
  display: grid;
}

.drop22 > a {
  text-align: left;
}

.drop22 > a > .fas {
  padding-right: 10px;
}

.span-hover1 {
  padding: 20px;
  font-size: 18px;
}
/*# sourceMappingURL=main.css.map */